/* - - - - - - - - - - -
Global
- - - - - - - - - - - */
@font-face {
  font-family: 'modestow01-lighttextregular';
  src: url('../fonts/modesto_w01_light_text-webfont.woff2') format('woff2'),
    url('../fonts/modesto_w01_light_text-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
    url('../fonts/helvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #00F0FF;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: helveticaregular;
  font-size: 18px;
  line-height: 150%;
}

button {
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

h1 {
  font-family: modestow01-lighttextregular;
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
  line-height: 175%;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 26px;
  padding-right: 26px;
  margin: 0 auto;
}

h3 {
  font-family: helveticaregular;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 60px;
}

h4 {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 60px;
}

h5 {
  font-family: modestow01-lighttextregular;
  font-size: 24px;
  padding-bottom: 0;
  padding-top: 60px;
  text-align: left;
  margin-left: 17%;
}

h6 {
  font-family: modestow01-lighttextregular;
  font-size: 24px;
  padding-bottom: 0;
  padding-top: 60px;
  text-align: center;
}

header {
  background-color: #000000;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00F0FF;
  padding-left: 0;
}

hr {
  align: center;
  width: 80%;
}

nav {
  font-family: modestow01-lighttextregular;
  padding-top: 30px;
}

nav ul {
  list-style: none;
  margin-left: 0;
  padding-bottom: 30px;
  padding-left: 0;
  text-align: center;
}

p {
  display: block;
  font-size: 16px;
  letter-spacing: .2px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 24px 24px 40px;
}

.navbar h1 {
  padding-top: 50px;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #000000;
  height: 100px;
}

main{
  padding-top: 80px;
}

.ulCenter {
  padding-left: 18%;
}

/* - - - - - - - - - - -
FOOTER
- - - - - - - - - - - */
footer {
  padding-bottom: 75px;
  padding-top: 45px;
  background-color: #000000;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00F0FF;
  padding-left: 0;
}

.footerlinks {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconlinks {
  height: 24px;
  width: 24px;
  padding: 20px;
}

/* - - - - - - - - - - -
index.html
- - - - - - - - - - - */
.link {
  display: inline;
  padding: 20px;
}

.casestudy {
  height: 680px;
  padding-bottom: 60px;
  width: 315px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* - - - - - - - - - - -
aaeena.html
- - - - - - - - - - - */
.aaeenaimgcolors {
  max-width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 300px;
}

.competicons {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.personas {
  display: block;
  width: 260px;
  padding-top: 30px;
  margin: 0 auto;
}

.prototypebutton {
  width: 60%;
}


.aaeenaimg, .titleimg, .hifiimg, .aaeenaimgwire {
  max-width: 260px;
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.landscapescr {
  max-width: 260px;
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.greyBoxes {
  background-color: #EEEEEE;
  font-size: 12px;
  margin: 12px;
  padding: 8px;
}

.greyback {
  background-color: #EEEEEE;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* - - - - - - - - - - -
about.html
- - - - - - - - - - - */
.interests, .skills {
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 1em;
}

.aboutphoto {
  max-width: 100vw;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maboutphoto {
  max-width: 100vw;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutMSPphoto {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.daboutphoto {
  display: none;
}

.education {
  list-style: none;
  list-style-type: none;
  padding-bottom: 60px;
}

.logo {
  display: block;
  height: 260px;
  width: 260px;
  padding-bottom: 30px;
  margin: 0 auto;
  padding-top: 140px;
}

/* - - - - - - - - - - -
MEDIA QUERIES
- - - - - - - - - - - */
@media (min-width: 680px) {

  /* - - - - - - - - - - -
    Media - Global
    - - - - - - - - - - - */
  .navbar h1 {
    float: left;
    padding-left: 20px;
  }

  h1 {
    margin-bottom: 20px;
    padding: 20px;
  }

  h2 {
    text-align: center;
    font-size: 1.25em;
    line-height: 175%;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 60%;
    margin-top: 100px;
  }

  h3 {
    font-size: 2em;
  }

  h5 {
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 15%;
  }

  h6 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
  }

  header {
    overflow: auto;
    min-height: 67px;

  }

  header h2 {
    float: left;
    padding-top: 7%;
  }

  hr {
    display: none;
  }

  li {
    font-size: 16px;
  }

  p {
    display: block;
    font-size: .8em;
    letter-spacing: .2px;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0;
    margin-inline-start: 0;
    max-width: 500px;
    padding: 24px 10% 40px;
  }

  nav {
    float: right;
  }

  .footerlinks {
    float: right;
  }

  .logo {
    clear: left;
    float: left;
    margin: 2% 2% 2% 8%;
    width: 20%;
    height: 20%;
    min-width: 150px;
  }

  .ulCenter {
    min-width: 200px;
    padding-left: 0%;
  }

  /* - - - - - - - - - - -
    Media - aaeena.html
    - - - - - - - - - - - */
  .centerimages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
  }

  .landscapescr {
    min-width: 600px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .aaeenaimg {
    max-width: none;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    width: 600px;
    margin: 0 auto;
  }

  .aaeenaimgcolors {
    width: 300px;
    height: 215px;
    margin: 0 auto;
    padding: 30px;
  }

  .titleimg {
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }

  .aaeenaimgwire {
    max-width: none;
    display: inline-block;
    padding: 60px 0 0;
  }

  .case-study p {
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 600px;
  }

  .centerimagesa {
    text-align: center;
  }

  .competicons {
    width: 300px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .greyBoxes {
    margin-right: 17%;
    margin-left: 17%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
  }

  .hifiimg {
    width: 375px;
    display: inline-block;
  }

  .usetestA {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }

  .usetestB {
    display: inline-block;
  }

  .personas {
    display: block;
    width: 320px;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .rightcol {
    display: inline-block;
  }

  .leftcol {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }

  /* - - - - - - - - - - -
    Media - about.html
    - - - - - - - - - - - */
  .aboutGrid {
    display: grid;
    grid-template-areas: "text1 pic1""text2 pic2""text3 pic3""text4 pic3";
  }

  .aboutMSPphoto {
    max-width: 30vw;
    margin-top: 100px;
    padding: 0%;

  }

  .aboutphoto {
    padding: 60px;
    display: block;
    max-width: 30vw;
    margin-top: 100px;
  }

  .maboutphoto {
    display: none;
  }

  .text1 {
    grid-area: text1;
    padding-top: 0px;
    font-size: 16px;
    margin-left: 20%;
  }

  .text2 {
    grid-area: text2;
    margin-top: -100px;
    font-size: 16px;
    margin-left: 20%;
  }

  .text3 {
    grid-area: text3;
    margin-top: -160px;
    font-size: 16px;
    padding-bottom: 0px;
    margin-left: 20%;
  }

  .text4 {
    grid-area: text4;
    display: grid;
    padding-left: 60px;
    font-size: 16px;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
  }

  .pic1 {
    grid-area: pic1;
    margin-right: 20%;
  }

  .pic2 {
    grid-area: pic2;
    margin-right: 20%;
  }

  .pic6 {
    grid-area: pic3;
    grid-row: 3/5;
    padding: 50px;
    margin-right: 20%;
  }

  .daboutphoto {
    /*combo photo appearing only in desktop view*/
    display: block;
    max-width: 30vw;
    margin-top: 120px;
  }

  .righttext {
    margin-left: -10%;
  }

  /* - - - - - - - - - - -
    Media - index.html
    - - - - - - - - - - - */
  .right-column {
    display: inline-block;
    margin: 0 auto;
    padding-top: 80px;
  }

  .indexmain {
    text-align: center;
    margin-bottom: 80px;
  }

  .left-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 0 auto;
  }
}
